.layout {
  &-wrapper {
    :deep(.ant-layout-header) {
      padding: 0;
      background-color: @base-color-white;
      height: @base-top-bar-height;
      &-tabs {
        height: @base-top-bar-height + @base-tabs-height;
      }
    }
    :deep(.ant-layout-content) {
      margin: 24px 16px;
      padding: 24px;
      background: #fff;
    }
  }
  &-comprehensive {
    height: 100%;

  }
  &-vertical {
    height: 100%;
  }
}
